
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 80px;
    display: flex;flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(131, 121, 154);
    box-shadow: rgb(124, 120, 120);
    text-align: center;
    
}
.navbar .left{
    flex-basis: 50%;
    letter-spacing: 2px;

}
.navbar .left a{
    overflow: auto;
    text-decoration: none;
    font-weight: bold;
    margin: 0px 5px;
    color: var(--secondary);
}
.right{
    flex-basis: 50%;
}
.navbar :left{
    padding: 3px 3px;
    text-decoration: none;
    color: var(--secondary);

}
.right i{
    font-size: 20px;
    margin: 0px 15px;
    background-color: var(--primary);
    color: white;
    padding: 8px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
 .navbar .right i:hover{
    transform: rotate(360deg);
    
}
:root{
    --primary:rgb(223, 64, 64);
    --secondary: rgba(10, 6, 21, 0.849);
    --light:rgb(208, 223, 190);
}
.navbar1{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.navbar1 .navbar1-left, .navbar1 .navbar1-center, .navbar1 .navbar1-right{
    flex-basis: 30%;
    margin: auto;
    cursor: pointer;
}

.navbar1 .navbar1-left i{
    margin-left: 15px;

}
.navbar1 .navbar1-center h1{
    columns: var(--secondary);
    font-size: 2rem;
    letter-spacing: 5px;
    font-weight: bold;
}
.navbar1 .navbar1-center h1 span{
    color: var(--primary);
}
.navbar1 .navbar1-center p{
    color: rgb(143, 142, 142);
    font-size: 15px;
    margin-top: 5px;
}
.navbar1 .navbar1-right i{
    margin: 0px 5px;
 }

.navbar2{
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.navbar2 ul {
    list-style: none;
    text-align: center;
}
.navbar2 ul li{
    display: inline-block;
    width: 150px;
    position: relative;
    z-index: 99;
}
.navbar2 ul li a{
    text-decoration: none;
    font-weight: 500 ;
    color: rgb(103, 26, 26);
    display: block;
}
.navbar2 ul li a:hover{
    color: rgb(161, 143, 233);
   
}
.navbar2 ul li i{
    color: var(--primary);
    margin: 0px 5px;
}
.navbar2 ul ul{
    position: absolute;
    top: 70px;
    left: 0;
    display: none;
    
}
.navbar2 ul ul li{
    background-color: rgb(252, 238, 238);
    border-bottom: 1px solid var(--primary);
}
.navbar2 ul li:hover>ul{
    display: block;

}
.navbar2 ul li:hover>ul :last-child{
    border-bottom: none;
}

.featured{
  width: 100%;
  height: 60vh;
  background: linear-gradient(to right, rgba(0,0,0,0.8) 20%, rgba(255,255,222,0.2)), url(images/g1.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  background-repeat:no-repeat ;
  background: linear-gradient(margin-top 0.6rem .6rem);
}
.featured-text{
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 10%;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2 rem;
    letter-spacing: 5px;
    font-family: 'Akaya Telivigala', cursive;
     
}
.featured-text button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--secondary);
    color: white;
}
.featured-text button:hover{
    cursor: pointer;
    color: rgb(72, 112, 100);
}
.latest{
    padding: 50px 100px;
}
.product-intro{
    text-align: center;
}
.product-intro h1{
    color: var(--primary);
    letter-spacing: 0.2rem;
    font-size: 2rem;
    font-weight: bolder;
}
.product-intro h1 span{
    color: var(--secondary);
}
.product-intro p{
    color: rgb(84, 111, 127);
    margin:15px 0px ;
}
.card-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 4rem 0;
}
.card-container .card{
    flex-basis: 20%;
    display: flexbox;
    padding: 0.8rem;
    position: relative;
    
}
.card-container .card img{
    width: 100%;
    display: flex;
    height:250px ;
    transition: 0.5s ease-in-out;
}

.card-container .card i{
    color: goldenrod;
    margin: 10px 0;

}
.card-container .card button{
    color: white;
    background-color: var(--secondary);
    border: none;
    outline: none;
    margin-top: 10px;
    padding: 3px 5px;
}
.card-container .card:hover img, .card:hover h1{
    width: 110%;
    color: rgb(137, 61, 137);
}
.card-container .card::before{
    content: "20%off";
    width: 20%;
    height: 25px;
    line-height: 25px;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--primary);
    padding: 0px 4px;
    transform: rotate(-20deg);
}
.treands{
    padding: 100px;
    background-color:rgba(0, 0, 0, 0.01);
}

    .treands {
      background: white;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .treands .swiper {
      width: 100%;
      padding: 50px;
      
    }

    .treands .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 400px;
    }

    .treands .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
    }


    footer{
        background-color: var(--secondary);
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
    footer div{
        flex-basis: 30%;
    }
    footer h1{
        letter-spacing: 0.5rem;
    }
    footer h1 span{
        color: var(--primary);
    }
    footer p{
        font-size: 1rem;
    }
    footer i{
        margin: 0px 5px;
    }
    .sidenav{
       display: none;
    }
    #menubar{
         display: none;
    }
    @media only screen and (max-width:769px){
        .navbar{
            position: relative;
            z-index:2 ;
            background-color: white;
        }
        .right i{
            font-size: 15px;
            margin: 0px 5px;;
        }
        .navbar1{
            width: 100%;
            height: 80px;  
        }
        .navbar1 .navbar1-left i{
            margin-left: 0px;
        }
        .navbar1 .navbar1-center h1{
            font-size: 1.5rem;
            letter-spacing: 2px;
        }
    
        .navbar1 .navbar1-center p{
            color: rgb(143, 142, 142);
            font-size: 10px;
            margin-top: 5px;
        }
        .navbar1 .navbar1-right i{
            margin: 0px 5px;
        }
        
        .navbar2{
            display: none;
        }
        
        .featured{
            background-attachment: fixed;
        }


        .latest{
            padding: 0px 50px;
        }
        .product-intro{
            text-align: center;
        }
        .product-intro h1{
            color: var(--primary);
            letter-spacing: 0.2rem;
            font-size: 2rem;
            font-weight: bolder;
        }
        .product-intro h1 span{
            color: var(--secondary);
        }
        .product-intro p{
            color: rgb(84, 111, 127);
            margin:10px 0px ;
        }
        .card-container{
            margin: 2rem 0;
            
        }
        .card-container .card{
            flex-basis: 100%;
            padding: 0.8rem;
            position: relative;
            text-align: center;
           
            
        }
        .card-container .card img{
            width: 100%;
            display: flex;
            height: 60% ;
            transition: 0.5s ease-in-out;
            
        }
        .card-container .card i{
            color: rgb(253, 252, 252);
            margin: 10px 0;
        
        }
        .card-container .card button{
            color: white;
            background-color: var(--secondary);
            border: none;
            outline: none;
            margin-top: 10px;
            padding: 3px 5px;
        }
    
        .treands{
            padding: 20px 30pc;
            background-color:rgba(0, 0, 0, 0.01);
        }
        
        .treands {
            background: white;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 20px 50px;
        }
        
        .treands .swiper {
            width: 100%;
            padding: 50px;
              
        }
        
        .treands .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 360px;
            height: 360px;
        }
        
        .treands .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
        }
        footer div{
            flex-basis: 50%;
            margin: 10px 0px;
        }
        .sidenav{
            display: block;
        }
        #menubar{
            display: block;
            position: absolute;
            top: 50%;
            right: 0%;
            transform: translate(0%, -50%);
            z-index: 99;
            background-color: var(--primary);
            color: white;
            font-size: 1.2rem;
            padding: 20px 10px;
            animation: animation 5s ease infinite; 
       }
       @keyframes animation {
        0%{
            background-color: var(--secondary);
        }
        100%{
            background-color: var(--primary);
        }
       }
        .sidenav{
           width: 0px;
           height: 100vh;
           position: absolute;
           width: 119px;
           z-index: 3;
           color: #eceafa;
           top: 100px;
           left: 0;
           display: block;
           transition: 0.5s ease-in-out;
           text-align: center;
           padding-top:70px;
           overflow: hidden;
        }
        .sidenav ul {
         list-style: none;
        }
        .sidenav ul li{
          display: block;
          width: 120px;
          position: relative;
          z-index: 99;
          margin: 10px 20px;
        }
        .sidenav ul li a{
           text-decoration: none;
           font-weight: 90 ;
           color: rgb(250, 247, 247);
           display: block;
           font-size: 12px;
           border: 1px solid rgb(161, 68, 68);
           padding: 20px;
        }
        .sidenav ul li a:hover{
           color: #ffffff;
        }
        .sidenav ul li i{
           color: var(--primary);
           margin: 0px 5px;
        } 
        .sidenav ul ul{
           position: absolute;
           top: 70px;
           left: 0;
           display: none;
        }
        .sidenav ul ul li{
          
           border-bottom: 1px solid rgb(250, 247, 247);
        }
        .sidenav ul li:hover>ul
        {
           display: block;
        }
        .sidenav ul li:hover>ul :last-child{
           border-bottom: none;
        }
        
    }
    